html{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

#game-canvas {
  z-index: 1;
}

#ui-canvas {
  z-index: 2;
}